{% extends "main.html" %}

{% block content %}

<style>
    .home-content{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-gap: 20px;
    }
</style>

<h1>Home Template</h1>
<hr>
<div class= "home-content">
    
    <div class="home-topics" style="text-align: center; padding: 10px;">

        <h3>Topics</h3>
        <hr>
        <div style='padding: 10px;'>
            <a class="btn btn-light btn-lg" href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
            <div style='padding: 10px;'>
                <a class="btn btn-light btn-lg" href="{% url 'home' %}?t={{topic.name|urlencode}}">{{topic.name}}</a>
            </div>
        {% endfor %}

    </div>

    
    <div>
        <h3>Rooms available : {{ rooms.count }}</h3>
        <a class="btn btn-success" href="{% url 'create_room' %}">Create Room</a>
        <hr>
    <div class="list-group">
       {% for room in rooms %}
            <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                <h6>@{{room.host}}</h6>
                <a class="h5"  href="{% url 'room' room_id=room.id %}">{{ room.name }}</a>
                <p class="lead">{{room.topic}}</p>
                {% if request.user == room.host %}
                <a class="btn btn-warning" href="{% url 'update_room' room_id=room.id %}">Update Room</a>
                <a class="btn btn-danger" href="{% url 'delete_room' room_id=room.id %}">Delete Room</a>
                {% else %}
                <a></a>
                <a></a>
                {% endif %}

                <h6>Created from: {{room.created_at|timesince}}</h6>
                <h6>Last Updated from: {{room.updated_at|timesince}}</h6>

                <hr>
            </div>
       {% endfor %} 
    </div>
    <hr>
    </div>
</div>



{% endblock %}