{% extends 'main.html' %}

{% block content %}


<body class="text-center"></body>
<div>
    <h1>Login/Register</h1>
    <hr>
    <div class="container mt-6">
        <form action="" method="POST" class="form-signin">
            {% csrf_token %}
            {{ form }}
            {% if page == 'login' %}
            <input class="btn btn-primary" style="margin-top: 10px;" type="submit" value="Login">
            {% else %}
            <input class="btn btn-primary" style="margin-top: 10px;" type="submit" value="Register">
            {% endif %}
        </form>
    </div>

</div>
</body>



{% endblock %}