{% extends "main.html" %}

{% block content %}
<div>
    <h1>Create Room Form</h1>
    <hr>
</div>

<div class="container mt-5">
    <div class="form">
        <form action="" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            
            <!-- Rendering Django form fields with Bootstrap -->
            <div class="mb-3">
                {{ form.as_p }}
            </div>

            <!-- Submit button with Bootstrap classes -->
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}