{% extends "main.html" %}

{% block content %}

<style>
    .room-content{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 20px;
    }
</style>

<h1>Room name : {{ room.name }} </h1>
<h3>About : <a class="btn btn-light btn-lg" href="{% url 'home' %}?t={{room.topic|urlencode}}">{{room.topic}}</a></h3>
<h5>Created by : @{{ room.host }}</h5>
<hr>
<div class="h5">
    <p>{{ room.description }}</p>
</div>
<div class="room-content">
    <div>
        <h3>Messages</h3>
        <hr>
        <div class="container">
            <div class="list-group">
            {% for message in messages %}
                <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                    <p>@{{message.user}}: {{message.body}} </p>
                    {% with extensions=".jpg,.png,.jpeg" %}
                    {% if message.media.url|slice:"-4:" in extensions %}
                    <img src="{{message.media.url}}" alt="message" width="50px" height="50px">
                    {% endif %}
                    {% endwith %}
                    {% with extensions=".mp4,.mkv,.webm,.ogg" %}
                    {% if message.media.url|slice:"-4:" in extensions %}
                    <video width="320" height="240" controls>
                        <source src="{{message.media.url}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% endif %}
                    {% endwith %}
                    {% with extensions=".mp3,.wav" %}
                    {% if message.media.url|slice:"-4:" in extensions %}
                    <audio controls>
                        <source src="{{message.media.url}}" type="audio/mpeg">
                        Your browser does not support the video tag.
                    </audio>
                    {% endif %}
                    {% endwith %}
                    {% if request.user == message.user %}
                    <a class="btn btn-danger" href="{% url 'delete_message' message_id=message.id %}">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            {% if request.user.is_authenticated %}
            <hr>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="form">
                    {{ mform.as_p }}
                </div>
                <button class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px;" type="submit">Send</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
        <div class="container">
            <div class="list-group">
            {% for user in participants %}
                <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
                    <p>@{{user.username}}</p>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


